* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #9DBEBB;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 900px;
}

.form-container {
    background-color: white;
    border-radius: 0px;
    padding: 0;
    width: 954px;
    height: 594px;
}

.form-content {
    display: flex;
    width: 954px;
    height: 594px;
    position: relative;
}

.form-left {
    flex: 2;
    background-color: #BE0909;
    padding-left: 65px;
    padding-top: 64px;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 609px;
    height: 594px;
}

.form-left label {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-left input, .form-left textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
}

.form-left input::placeholder, .form-left textarea::placeholder {
    color: white;
}

button {
    background-color: #468189;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 40px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 56px;
    margin-left: 164px;
    width: 202px;
    height: 48px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    
}

button:hover {
    background-color: #468189;
    transform: scale(1.05);
}

.form-right {
    flex: 1;
    width: 345px;
    height: 594px;
    background-color: #FFB039;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    position: relative;

}

.form-right img {
    width: 663px;
    height: 603px;
    border-radius: 0;
    display: flex;
    position: absolute;
    left: -250px;
}



